/*
 *  Fibo Calculator By LancerComet at 2040, 2016.02.27.
 *  # Carry Your World #
 */
 
$cubicEase = cubic-bezier(.22, .58, .12, .98)
 
.transition-dot-4
   transition all $cubicEase .4s
   
.dp-none
  display none   
 
body
  margin 0
  padding 0
  border 0
  font-size 1em
  font-family "微软雅黑", "Microsoft SansSerif"
  
button
  outline none  
  
.move-in-left
  -webkit-animation move-in-left $cubicEase .4s
  animation move-in-left $cubicEase .4s
  
@-webkit-keyframes move-in-left
  from
    -webkit-transform translate(5em, 0)
    transform translate(5em, 0)
    opacity 0
  to
    -webkit-transform translate(0, 0)
    transform translate(0, 0)
    opacity 1                
  
@keyframes move-in-left
  from
    transform translate(5em, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1          
 
 
 
.left-nav
  width 4em
  height 100%
  background-color #646c7a
  float left
  
  .section-switcher
  .author-avatar
    background-color rgba(0,0,0,.2)
    width 3em
    height 3em
    margin .5em
    font-size 1em
    border 0
    border-radius 50%
    
  .author-avatar
    background-image url(http://static.lancercomet.com/images/avatar/LancerComet.jpg)
    background-size cover
    background-position center center  



.main-ctnr
  width calc(100% - 4em)
  height 100%
  padding 0 1em
  box-sizing border-box
  overflow auto
  float left
  
  h2
  h4
    font-weight 100
    
  h2
    font-size 2em  
    
  .panel-switcher
    padding .5em 1em
    margin 1em  
    border 0
    border-radius .5em
    background-color #eaf8ff
    color #64a2c5
    cursor pointer
    &hover
      background-color #e2fbff
      color #58d4ff
    &active
      background-color #d6edff
      color #64a2c5  
    &.active
      background-color #4fc1e9
      color #fff
    
  
    
  
.chart-ctnr

  .chart-image
    background-color aliceblue
    background-repeat no-repeat
    width 779px
    height 577px
    position relative   
    
    p
      position absolute
      top 0
      left 43em
      transition all $cubicEase .6s
    
  &.retrancement
    .chart-image
      background-image url("/dist/images/fibo-image-retrancement.jpg")
      
    &.uptrend
    
      .n-x
        left 2em
        top 32em 
    
      .n-a
        left 41em
        top 1em
    
      .n-382
        top 12.5em
        color #A1C139
        
      .n-500
        top 15.8em
        color #74C23B
        
      .n-618
        top 19.1em
        color #79C598        
      
      .n-786
        top 23.9em
        color #659CCC        
      
      .n-886
        top 26.7em
        color #B34239
      
      .n-1130  
        top 29.9em
        
      .chart-image   
        background-position 0 -577px  
          
        
    &.downtrend
    
      .n-x
        left 9em
        top 1em 
    
      .n-a
        left 36em
        top 31em
    
      .n-382
        left 37.5em
        top 18.7em
        color #A1C139        
        
      .n-500
        left 37.5em 
        top 15.5em
        color #74C23B        
        
      .n-618
        left 37.5em 
        top 12.2em
        color #79C598
      
      .n-786
        left 37.5em 
        top 7.7em
        color #659CCC
      
      .n-886
        left 37.5em 
        top 5.05em
        color #B34239        
      
      .n-1130  
        left 37.5em 
        top 1.95em
        
      
  &.extension
    .chart-image
      width 600px
      height 634px
      background-image url("/dist/images/fibo-image-extension.jpg")
      
    &.uptrend
    
      .n-x
        left 0
        top 37.9em 
      
      .n-a
        left 17.5em
        top 13.6em
      
      .n-382
        top 28.1em
        left 19.1em
        color #A1C139
          
      .n-500
        top 25.3em
        left 19.1em
        color #74C23B
          
      .n-618
        left 19.1em
        top 22.6em
        color #79C598        
      
      .n-786
        left 19.1em
        top 18.6em
        color #659CCC
        
      .n-886
        left 19.1em
        top 16.3em
        color #d77cb9          
      
      .n-1272  
        left 19.1em
        top 7.35em
        color #c72838
        
      .n-1414  
        left 19.1em
        top 4em  
        color #9528cc
        
      .n-1618  
        left 19.1em
        top -0.7em
        color #2828cc    
                 
      
    &.downtrend
      
      .chart-image           
        background-position -600px 0
          
      .n-x
        top -1.7em
        left 0
      
      .n-a
        left 17.5em
        top 22.5em
      
      .n-382
        top 8.2em
        left 19.1em
        color #A1C139
          
      .n-500
        top 10.85em
        left 19.1em
        color #74C23B
          
      .n-618
        left 19.1em
        top 13.6em
        color #79C598        
      
      .n-786
        left 19.1em
        top 17.6em
        color #659CCC
        
      .n-886
        left 19.1em
        top 19.9em
        color #d77cb9          
      
      .n-1272  
        left 19.1em
        top 28.85em
        color #c72838
        
      .n-1414  
        left 19.1em
        top 32.2em
        color #9528cc
        
      .n-1618  
        left 19.1em
        top 36.9em        
        color #2828cc    
        
        
     
  .input-area
    position repeat
      
    input
      position relative
      top 0
     

  
  .input-area
    margin 1em 0